:root {
  --background-color: #383A59;
  --calculator-color: #282A36;
  --buttons-display-color: #414760;
  --operators-color: #353a4e;
  --dark-operators: #262a3a;
  --dark-nums: #34394e;

  --purple: #B28BEC;
  --dark-purple: #8b64c5;
  --pink: #E573C5;
  --blue: #86E0F4;
  --green: #76D16E;
  --yellow: #FBF280;
  --white: #FFF;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-size: 62.5%;
  border: none;
  outline: none;
  font-family: 'Nippo', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: var(--background-color);
}

.container {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.container >.calculator  {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(100px, auto) repeat(5, 80px);
  gap: 12px;
  padding: 25px;
  border-radius: 20px;
  background: var(--calculator-color);
  box-shadow: 28px 28px 56px #1e2029,
             -28px -28px 56px #323443;
}

.calculator > button {
  cursor: pointer;
  font-size: 2rem;
  border-radius: 15px;
  background: var(--buttons-display-color);
  color: var(--blue);
  box-shadow: 8px 8px 16px #1b1c26,
             -8px -8px 16px #21222e;
  transition: all ease 0.2s;
}

button:hover {
  background: var(--dark-nums);
}

button:active {
  transform: translateY(2px);
}

.calculator  > button[data-operation] {
  color: var(--pink);
  background: var(--operators-color);
}

button[data-operation]:hover {
  background: var(--dark-operators);
}

.calculator > button[data-equals]{
  color: var(--yellow);
  background: var(--purple);
  font-size: 2.5rem;
}

button[data-equals]:hover {
  background: var(--dark-purple);
}

.calculator > button[data-clear],
button[data-delete] {
  color: var(--green);
}

.span-two {
  grid-column: span 2;
}

.display {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 4.2rem;
  word-wrap: break-word;
  word-break: break-all;
  padding-inline: 20px;
  border-radius: 10px;
  margin-bottom: 19px;
  min-height: 120px;
  background: var(--buttons-display-color);
  color: var(--pink);
  box-shadow:  13px 13px 29px #14141a,
              -13px -13px 29px #2e303e;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer p, span {
  font-size: 1.7rem;
  color: var(--pink);
}

footer p > span:hover {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, var(--yellow), var(--pink)) 1;
  transition: all ease 0.1s;
  cursor: pointer;
}

.blink {
  font: inherit;
  animation: blink 0.6s infinite;
}

@keyframes blink {
  from{
    opacity: 0;
  } to {
    opacity: 1;
  }
}