:root {
  --background-color: #383A59;
  --calculator-color: #282A36;
  --buttons-color: #414760;
  --display-color: #696f8a;

  --purple: #B28BEC;
  --pink: #E573C5;
  --blue: #86E0F4;
  --green: #76D16E;
  --yellow: #FBF280;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-size: 62.5%;
  border: none;
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  background: var(--background-color);
}

.container {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.container >.calculator  {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(100px, auto) repeat(5, 80px);
  gap: 12px;
  padding: 25px;
  border-radius: 20px;
  background: var(--calculator-color);
}

.calculator > button {
  cursor: pointer;
  font-size: 2rem;
  border-radius: 15px;
  background: var(--buttons-color);
  color: var(--blue);
}

.calculator  > button[data-operation] {
  color: var(--pink);
}

.calculator > button[data-equals]{
  color: var(--purple);
}

.calculator > button[data-clear],
button[data-delete] {
  color: var(--green);
}

.span-two {
  grid-column: span 2;
}

.calculator_display {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 3.5rem;
  word-wrap: break-word;
  word-break: break-all;
  padding-inline: 20px;
  border-radius: 5px;
  margin-bottom: 19px;
  min-height: 100px;
  background: var(--display-color);
  color: var(--yellow);
}